@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer components{
    .container{
        max-height: 100vh;
        max-width: 100vw;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
     .image {
        -webkit-mask-image: url("./images/4.png");
        -webkit-mask-position: right;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 110%;
        height: 100%;
    }  
}